#col_1 {
    height: 600px;
    background-color: rosybrown;
}
#col_2 {
    height: 600px;
    background-color: greenyellow;
}
#col_3 {
    height: 600px;
    background-color: goldenrod;
}

#restartBtn {
    margin-right: 10px;
}