#col_1 {
    height: 600px;
    background-image: url("../images/grass_background.png");
}
#col_2 {
    height: 600px;
    background-color: greenyellow;
}
#col_3 {
    height: 600px;
    background-color: goldenrod;
}

#restartBtn {
    margin-right: 10px;
}

#grassTile {
    margin-top: 100px;
    margin-bottom: 30px;
}